@import url('/css/general/helpers.css');
@import url('/css/general/header.css');
@import url('/css/app/book/book-app.css');
@import url('/css/app/email/email-app.css');
* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 1em;
}

body {
    margin: 0;
}

.app-footer {
    padding: 10px;
    height: 5vh;
    background-color: lightslategray;
}