* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 1em;
}
body {
  margin: 0;
}

/* car-app */

.book-app {
  height: 100%;
  background-color: rgba(243, 243, 255, 0.52);
  color: #666;
}

/* filter */

.book-filter {
  padding: 20px;
  background-color: white;
  gap: 20px;
}

.filter-title {
  background-color: transparent;
  background-image: url("/img/looking_glass.png");
  background-position: 100% 50%;
  background-repeat: no-repeat;
  background-size: 21px 21px;
  border: solid 1px #ccc;
  cursor: pointer;
  height: 37px;
  margin: 3px 25px;
  padding: 0 0 0 10px;
  position: relative;
  color: #666;
  width: 230px;
  font-size: 12px;
  text-align: left;
}

/* details */

.book-details {
  padding: 20px;

  text-align: center;
}

.img-container {
  margin-inline-end: 20px;
}

.description-paragraph {
  font-size: 1.5em;
  max-width: 300px;
}

.red {
  color: red;
}

.green {
  color: green;
}

.checked {
  color: gold;
  /* background-color:yellow ; */
}

/* button */
.btn {
  font-family: "Fort-Light";
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn.show-more {
  font-size: 12px;
  color: #000;
  text-transform: uppercase;
  font-family: "Fort-Book";
  text-align: center;
  padding-right: 20px;
}
.btn.show-more:after {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  font-size: 140%;
  color: #000;
  margin-left: 5px;
}

/* home-page */

.home-page {
  background-image: url("/img/book-img1.jpg");
  height: 400px;
  text-align: center;
}

.home-page h1 {
  padding-top: 100px;
  font-size: 2em;
}

.home-page img {
  height: 40vh;
}

/* edit */

.book-edit {
  background-color: lightcoral;
  padding: 20px;
}

/* list */

.book-list {
  grid-template-columns: repeat(auto-fill, 200px);
  gap: 30px;
  margin-bottom: 40px;
}

/* preview */

.book-preview-container {
  font-size: 20px;
  padding: 10px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  min-height: 235px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  margin-top: 10px;
}

.book-preview h2 {
  font-size: 1.25em;
  color: rgb(255, 177, 60);
  color: rgb(71, 71, 71);
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: 20px;
  height: 2.5em;
}

.book-preview h3 {
  color: rgb(146, 145, 145);
  padding-bottom: 15px;
  border-bottom: 1px solid rgb(206, 206, 206);
}

.book-preview img {
  width: 100%;
  margin-bottom: 20px;
}

.book-preview-container .details {
  color: rgb(71, 71, 71);
  font-size: 0.9em;
  background-color: transparent;
  border: none;
  outline: none;
  padding-top: 20px;
  color: rgb(71, 71, 71);
  font-size: 0.9em;
}

.book-preview .book-title {
  color: #ff6600;
  text-transform: capitalize;
}

/* footer */

.app-footer {
  padding: 10px;
  height: 5vh;
  background-color: lightslategray;
}

/* header */
.logo {
  color: rgb(44, 43, 43);
  font-size: 2em;
}

.app-header {
  top: 0;
  width: 100%;
  height: 60px;
  background-color: orange;
  padding: 0 40px;
}

.main-nav a {
  color: white;
}

.main-nav a:not(:last-child) {
  margin-inline-end: 20px;
}

/* helpers */

.grid {
  display: grid;
}

.clean-list {
  list-style: none;
  margin: 0;
  margin-bottom: 0px;
  padding: 0;
}

.justify-center {
  justify-content: center;
}

.flex {
  display: flex;
}

.space-evenly {
  justify-content: space-evenly;
}

.align-center {
  align-items: center;
}

.column {
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

/* email */

.email-app {
  justify-content: center;
  color: rgba(0, 0, 0, 0.657);
  font-weight: bold;
}

.email-main-container {
  width: 70vw;
  margin-top: 20px;
}

.mail-body {
  width: 100%;
  
}

.email-preview {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  box-shadow: inset 0 -1px 0 0 rgba(100,121,143,0.122);
}

.email-preview > :not(:first-child) {
  margin-left: 50px;
}

.aside-nav-bar {
  margin-right: 30px;
}

.aside-nav-bar > * {
  width: 100px;
  padding: 8px;
  margin: 10px 20px;
  border-bottom: orange 1px solid;
  text-decoration: none;
}

.email-header {
  padding: 7px 0px;
  box-shadow: 0px 0px 3px 0px rgb(0 0 0 / 33%);
  margin-bottom: 5px;
}

.email-header > * {
  margin-left: 40px;
}

.email-header-date {
  margin-left: 450px;
}

.mail-subject {
  display: inline-block;
  width: 150px;
  
}

.mail-sender {
  width: 150px;
}

